.app__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px 80px;

    .app__navbar-logo img {
        height: 100px;
    }

    .app__navbar-links {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            list-style: none;
            padding: 0 20px;
            position: relative;
        }

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.3rem;
            font-weight: 600;
            color: black;
            font-family: 'Roboto', sans-serif;

            transition: 0.15s ease-in-out;
            
        }

        li a:hover,
        li a.active {
            color: gold;
        }

        li a:hover::after,
        li a.active::after {
            content: "";
            width: 30%;
            height: 2px;
            background: gold;
            position: absolute;
            bottom: -4px;
            left: 20px;
        }
    }

    .app__navbar-user {    

        .user, 
        .clock {
            display: flex;
            color: gold;
        }

       a {
        display: flex;
        align-items: center;
        text-decoration: none;
       }

       p {
        margin: 10px;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        color: black;
        font-family: 'Roboto', sans-serif; 

        transition: 0.20s ease-in-out;
        }

        p:hover {
            color: gold;

        }

       
    }
}