    .app__navbar {    
        width: 100%;
        height: 149px;
    
        background: white;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: 0px 4px 4px rgba( 0, 0, 0, 0.25);

        display: flex;
        justify-content: center;

       

        .app__navbar-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

                img {

                    
                   
                    width: 100px;
                    height: 100px;

                    

                  

            
            }
        }

        .app__navbar-search {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .app__navbar-bar {
                display: flex;
            }
        }
    
        





            .app__navbar-container {
                display: flex;
                justify-content: center;
                width: 1109px;
                height: 148px;

                .app__navbar-userbox {
                    position: absolute;
                    width: 239px;
                    height: 148px;
                    right: 0px;
                    top: 0px;

                    ul {
                     .app__navbbar-user {
                      display: flex;
                      flex-direction: row;   
                      align-items: flex-start;
                      padding: 0px 53px 1px 1px;
                        }

                    li {
            
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 0px 53px 1px 1px;

                        width: 239px;
                        height: 48px;

                        border-width: 0px 0px 1px 1px;
                        border-style: solid;
                        border-color: #DDDDDD;
                    }

                    a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 11px 42px 12px 28px;
                        gap: 10px;

                        width: 185px;
                        height: 30px;

                        text-decoration: none;
                        font-size: 1rem;
                        line-height: 25px;
                        font-weight: 300;
                        color: #373737;
                        font-family: 'Robot', sans-serif;

                        p {
                            width: 91px;
                            height: 23.5px;

                            transition: 0.30s ease-in-out;

                        }

                        p:hover {
                            color: gold;
                        }

                       .user {
                           width: 16px;
                           height: 16px;
                           color: gold;
                        }

                        .clock {
                            width: 16px;
                            height: 16px;
                            color: gold;
                        }

                        .card {
                            width: 16px;
                            height: 16px;
                            color: gold;
                        }

                    }

                }

                    
            }
        }

        

            
                
          


        
    
        
    
        /*
                .app__navbar-search {
    
                    position: absolute;
                    height: 58px;
                    left: 0px;
                    right: 276px;
                    top: 45px;
    
                    background: rgba(221, 221, 221, 0.1);
    
                    border: 1px solid #DDDDDD;
                    border-radius: 50px;
    
                    .app__navbar-bar {
                        position: absolute;
                        height: 50px;
                        left: 4px;
                        right: 4px;
                        top: 4px;
                    }
    
                    .app__navbar-separator {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 3px 4px 3px 3px;
    
                        position: absolute;
                        width: 513px;
                        height: 50px;
                        left: 0px;
                        top: 0px;
                        border-right: 1px solid #DDDDDD;
                    }
    
                    .app__navbar-input {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        padding: 11px 7px 11px 31px;
                        
                        width: 506px;
                        height: 44px;
    
                        border-radius: 4px;
                    }
                    
                }
        */  
        }
    



