.app__navbar {
    
        width: 100%;
        height: 149px;
    
        background: white;
        border-bottom: 1px solid #DDDDDD;
        box-shadow: 0px 4px 4px rgba( 0, 0, 0, 0.25);

        display: flex;
        justify-content: center;


        .app__navbar-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;

                img {
                    width: 100px;
                    height: 100px;
            }
        }

        .app__navbar-search {
            display: flex;
            flex-direction: column;
            justify-content: center;

            position: relative;

            .app__navbar-results {
                width: 200px;
                margin-top: 5px;
                margin-left: 50px;
                height: 0px;

                display: flex;
                flex-direction: column;
                align-items: right;

                table {
                    margin: auto;
                    height: 40px;
                    width: 100%;

                    background: rgba(255, 215, 0);
                    
                    padding: 5px;
                    
                    border-radius: 1px;
    
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    animation: float 5s infinite;

                    cursor: pointer;
                    
                    tr {
                        text-align: center;
                        border: 1px solid #fff;
                        color: #666B85;
                        font-size: 16px;
                        font-weight: normal;
                        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
                    }

                    tr:hover td {
                        background: #373737;
                        color:#FFFFFF;
                        border-top: 1px solid #22262e;
                      }

                    a {
                        text-decoration: none;
                        color: #fff;  
                        transition: 0.3s ease-in-out;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                    }                    
                }
            }

            

            .app__navbar-box {
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                width: 900px;
                height: 58px;

                background: rgba(221, 221, 221, 0.1);
                border: 1px solid #DDDDDD;
                border-radius: 50px;


                .app__navbar-bar {
                    width: 600px;
                    height: 51px;
                    display: flex;
                    align-items: center;
                    padding: 3px 4px 3px 3px;

                    border-right: 1px solid #DDDDDD;

                    input {
                        margin: 20px;
                        display: flex;
                        flex-direction: row;
                        align-items: right;

                        padding: 11px 7px 11px 10px;
                        width: 550px;
                        height: 30px;

                        border: none;
                        border-radius: 50px;

                        outline: none;

                        background: rgba(221, 221, 221, 0);
                    }
                }

                .app__navbar-buttonc {
                    width: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                   
                    .app__navbar-button {
                        color: #fff;
                        
                        cursor: pointer;

                        transition: all 0.2s ease-in-out;
                    }

                    .app__navbar-button:hover {
                        color: gold;
                        background: #fff;
                        width: 85%;
                        height: 85%;
                        
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 64px;
                        height: 44px;
    
                        padding: 8px 20px 8px 20px;
                        background: gold;
                        border: 1px solid gold;
                        border-radius: 50px;
                        
                    }
                }
            }
        }
        

        .app__navbar-dropdown {
            display: flex;
            align-items: center;

            select {
                padding-left: 10px;

                width: 180px;
                height: 45px;

                border: none;
                background: rgba(221, 221, 221, 0);

                outline: none;

                

                color:rgba( 0, 0, 0, 0.5);
                font-size: 1.2rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                text-transform: uppercase;
            }

            option {
                color:rgba( 0, 0, 0, 0.5);
                font-size: 1rem;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                
            }

            
           
            
        }


        .app__navbar-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
               
                width: 100%;
                height: 148px;

            .app__navbar-userbox {

                display: flex;
                justify-content: right;

                .app__navbar-account {
                    display: flex;
                    justify-content: center;

                   border-bottom: 1px solid #DDDDDD;
                   border-left: 1px solid #DDDDDD;
                   border-right: 1px solid #DDDDDD;
                }

                .app__navbar-schedule {
                    display: flex;
                    justify-content: center;

                    border-bottom: 1px solid #DDDDDD;
                    border-left: 1px solid #DDDDDD;
                    border-right: 1px solid #DDDDDD;

                   
                }

                .app__navbar-cartao {
                    display: flex;
                    justify-content: center;
                    
                    border-left: 1px solid #DDDDDD;
                    border-right: 1px solid #DDDDDD;
                }
                  

                    li {

                        width: 100%;
                        
                        height: 49px;

                    }

                    a {
                        padding-left: 20px;
                        padding-right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        text-decoration: none;
                        font-size: 1rem;
                        line-height: 25px;
                        font-weight: 300;
                        color: #373737;
                        font-family: 'Robot', sans-serif;

                        p {
                            width: 91px;

                            transition: 0.30s ease-in-out;

                        }

                        p:hover {
                            color: gold;
                        }

                       .user {
                           width: 16px;
                           height: 16px;
                           color: gold;
                        }

                        .clock {
                            width: 16px;
                            height: 16px;
                            color: gold;
                        }

                        .card {
                            width: 16px;
                            height: 16px;
                            color: gold;
                        }

                    

                }
            }
        }

        .app__navbar-mobile {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {

    .app__navbar {
        height: 50px;

        display: flex;
        align-items: center;
    

        .app__navbar-logo {
            display: none;
          }

        .app__navbar-search {
            
           display: none;
        }

         .app__navbar-dropdown {
            display: none;
         }

         .app__navbar-container {
            display: none;
         }

         .app__navbar-mobile {
            width: 100%;
            display: flex;
            justify-content: space-around;

           .user-mobile {
            color: gold;
            font-size: 1.5rem;

            border: 1px solid gold;
            border-radius: 50px;

            cursor: pointer;
           }

           .user-mobile:hover {
             background: gold;
             color: #fff;
           }

           .clock-mobile {
            color: gold;
            font-size: 1.5rem;

            border: 1px solid gold;
            border-radius: 50px;

            cursor: pointer; 
    
           }

           .clock-mobile:hover {
            background: gold;
            color: #fff;
          }

           .card-mobile {
            color: gold;
            font-size: 1.5rem;

            border: 1px solid gold;
            border-radius: 50px;

            cursor: pointer;
           }

           .card-mobile:hover {
            background: gold;
            color: #fff;
          }
         }
         



         

         

        

     }

      
        
    }

    

   

   
            
                
          


        
    
        
    
        
              
        
    



