.app__footerbot {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .app__footerbot-container {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    p {
        text-transform: capitalize;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        color: #fff;
    }

    span {
        color: #fff;
    }

    .app__footer-mobile {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    
    .app__footerbot {
        .app__footerbot-container {
            display: none;
        }

        .app__footer-mobile {
            display: flex;
            justify-content: space-between;

            p {
                letter-spacing: 1px;
            }

            span {
                padding-right: 20px;
                padding-left: 20px;
            }
            
    
        }
    }
   
     
}