.app__eventos {
    display: grid;

    grid-template-columns: 1fr 1fr;

    .app__eventos-text {
        margin: 30px;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        

        button {
            color: #000;
            background: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            letter-spacing: 0.04em;
            line-height: 28px;
            font-size: 16px;
            padding: 0.5rem 1.5rem;
            border-radius: 20px;
            border: 1px solid #fff;
            outline: none; 
            transition: 0.20s ease-in-out;
            
            cursor: pointer;
        }

        button:hover {
            color: gold;
            background: transparent;
            border-color: gold;
           
           }

        h1 {
            font-family: 'Roboto', sans-serif;
            color: gold;
            font-size: 64px;
            line-height: 83px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
           }

           p {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0.04em;
            text-transform: capitalize;
            line-height: 29px;
            font-size: 23px;
           }
    }

    .app__eventos-container {        
        display: grid;
        align-items: center;
        justify-items: left;

        .app__eventos-imgs {
            width: 100%;
            margin: 20px;
            padding: 20px;
            

            border-radius: 5px;

            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .app__img01 {
                display: grid;
                grid-column: 1;
                grid-column-start: 1;
                grid-column-end: 3;
                
            }

            .app__img01 img {
                position: relative;
                width: 100%;
                height: 100%;
            }
            
            
            .app__img02 {
                display: grid;
                grid-column: 1;
                grid-row: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 1;                
            }

            .app__img02 img {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .app__img03 {
                display: grid;
                grid-column: 3;
                grid-row: 3;
                grid-row-start: 4;
                grid-row-end: 1;
            }

            .app__img03 img {
                
                width: 100%;
                height: 100%;
            }

            img {
                border: 2px solid rgba(0, 0, 0, 0);
                transition: 0.3s ease-in-out;
            }

            img:hover {
                border: 2px solid gold;
            }
        }

       
    }
}